{% extends 'base.html' %}

{% block content %}
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Summary</li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Computer Summary</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>OSType</th>
                      <th>Version</th>
                      <th>Country</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>OSType</th>
                      <th>Version</th>
                      <th>Country</th>
                      <th>Score</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <th>0</th>
                      <td>ZUG-PF0Q73PP</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>6,549116618</td>
                    </tr>
                    <tr>
                      <th>1</th>
                      <td>ZUG-PC0UKDH4</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,424096631</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>6</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>7</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>8</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>9</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>10</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                    <tr>
                      <th>11</th>
                      <td>ZUG-PC0UKDGV</td>
                      <td>Windows</td>
                      <td>8.0.111.36.0</td>
                      <td>["Switzerland"]</td>
                      <td>8,009797523</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->


      </div>
      <!-- /.content-wrapper -->

 {% endblock content %}